
body {
  background-color: blue;
  padding: 0;
  margin: 0;
}


h1 {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  text-align: center;
  font-size: 25px;
  position: relative;
  margin: 0;
  padding-top:10px;
}

p {
  font-family: helvetica;
  color: white;
  font-size: 16px;
}

#titlebar {
  width:100%;
  height: 50px;
  background-color: rgb(30, 31, 27);
  top:0;
  z-index: 6;
  display: inline-block;
  position: fixed;
}


#mapid {
    height:100vh;
    z-index: 5;
}
/* this z-index has to be smaller than that of the overlay which is 11 (see below) */
/* this z-index is missing in the original instructions by Lucas */

/* ===== INFO PANEL ===== */

#trigger {
  font-size:30px;
  cursor:pointer;
  position:fixed;
  top:7px;
  left:20px;
  z-index: 9;
  color: white;
  font-family: cursive;
}
/*z-index = number of stacks */

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    background-color: rgb(136, 126, 100);
    overflow-x: hidden;
    transition: 0.2s;
}

.overlay-content {
    position: relative;
    top: 2%;
    text-align: center;
    margin-top: 20px;
    padding:20px;
    color: white;
}

.overlay a {
    padding: 5px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    display: block;
    transition: 0.2s;
    font-weight:normal;
    text-align:left;
}

.closebtn {
    position: absolute;
    top: 17px;
    right: 10px;
    font-size: 35px !important;
    line-height:0px;
}


/* ===== ADD PANEL ===== */

#trigger2 {
  font-size: 30px;
  cursor:pointer;
  position:fixed;
  top:7px;
  right:20px;
  z-index: 9;
  color:white;
  font-family: cursive;
}

.overlay2 {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 11;
    top: 0;
    right: -25%;
    background-color: rgb(75, 31, 31);
    overflow-x: hidden;
    transition: 0.3s;
}

.overlay-content2 {
    position: relative;
    top: 2%;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    color: white;
}

.overlay2 a {
    padding: 5px;
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
    font-weight:normal;
    text-align:left;
}

.closebtn2 {
    position: absolute;
    top: 17px;
    left: 10px;
    font-size: 35px !important;
    font-family:'Courier New', Courier, monospace;
  line-height:0px;
}

div.elem-group {
  margin: 40px 0;
}

label {
  display: block;
  font-family:'Courier New', Courier, monospace;
  padding-bottom: 4px;
  font-size: 18px;
}

input, select, textarea {
  border-radius: 2px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 18px;
  font-family:'Courier New', Courier, monospace;
  width: 100%;
  padding: 8px;
}

textarea {
  height: 250px;
}

button {
  height: 50px;
  background: white;
  color: blue;
  text-align: center;
  border: 2px solid #ccc;
  font-size: 18px;
  font-family:'Courier New', Courier, monospace;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  border: 2px solid white;
}


